<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>Login - Lotus Vita</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous"/>
    <link rel="stylesheet" th:href="@{/css/home.css}">

</head>
<body>
<header>
    <div class="wrapper">
<!--        <div class="logo">-->
<!--            <img src="https://i.postimg.cc/h4x80MCp/Lotus-Vita-Logo-Blume-weiss.png" alt="">-->
<!--        </div>-->
        <ul class="nav-area">
            <li><a href="home-less">Home</a></li>
            <li><a href="login">Login</a></li>
            <li><a href="register">Register</a></li>
        </ul>
    </div>
    <div class="welcome-text">

        <div class="container-fluid text-center">
            <form th:action="@{/signUp}" th:object="${credentials}" method="post"
                  style="max-width: 350px; margin: 0 auto;">

                <div class="border border-secondary p-3 rounded center">
                    <p> Sing up </p>
                    <p>
                        <input type="email" name="email" th:field="*{email}" class="form-control" placeholder="E-mail"
                               required autofocus/>
                    </p>
                    <p>
                        <input type="password" name="password" th:field="*{password}" class="form-control"
                               placeholder="Password" required/>
                    </p>
                    <p>
                        <input type="checkbox" name="remember-me"/>&nbsp;Remember Me
                    </p>
                    <p>
                        <input type="submit" value="Register now!" class="btn btn-primary"/>
                    </p>
                </div>
            </form>
        </div>
    </div>
</header>

</body>
</html>